# Telegram Bot API Token (Get it from BotFather)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# PostgreSQL Database URL (I use supabase because free)
DATABASE_URL=postgresql://user:password@host:port/dbname